---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>
  <div class="author">
    By {{ page.author }}
  </div>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  <reference>
    <div class="nav">
      <div><a href="http://innodata.com/solutions/for-business-info-and-media-companies/content-transformation-enrichment/?ref=labs_blog">Learn how Innodata can help <b>turn raw data into smart data</b>.</a></div>
      <div><a href="http://innodata.com/solutions/for-business-info-and-media-companies/content-transformation-enrichment/?ref=labs_blog"><img src="http://www.innodatalabs.com/images/smart-data.png"></a></div>
      <div class="separator"></div>
      <div><a href="http://innodata.com/solutions/for-enterprises/machine-learning-solutions/?ref=labs_blog">Learn how Innodata can help <b>leverage your data with Machine Learning</b>.</a></div>
      <div><a href="http://innodata.com/solutions/for-enterprises/machine-learning-solutions/?ref=labs_blog"><img src="http://www.innodatalabs.com/images/machine-learning.png"></a></div>
      <div class="separator"></div>
    </ul>
  </reference>  
  
  {% include disqus.html %}
</article>
